.flex-container {
  display: flex;
  flex-wrap: wrap;
}
nav.flex-container {
  min-height: 100px;
  max-height: 200px;
  justify-content: center;
  flex:1;
  -webkit-flex: 1;
  -ms-flex: 1;
  border-bottom: solid 1px #d32b29;
  width: 100%;
}
.logo-text {
  display: inline-block;
  font-weight: bold;
  color: #b3302e;
  font-size: 2em;
}
.hero-container {
  padding: 2rem 1rem;
  height: max-content;
}
.hero-container div {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}
.hero-images, .service-image {
  display: inline-block;
  object-fit: cover;
  width: 100%;
}
.hero-text {
  text-align: center;
  font-size: 1.1rem;
  display: block;
  height: max-content;
}
.headline {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: -0.5em;
  font-size: 1.8rem;
}
.cta-button {
  display: inline-block;
  background-color: #b3302e;
  color: #fdfdfc !important;
  font-weight: bold;
  text-transform: capitalize;
  border: .8rem solid #b3302e;
  border-radius: 1.2rem;
  padding: 0rem 1.5rem;
  text-decoration: none;
  font-size: .9rem;
}
.heading{
  font-size: 2rem;
  font-weight: bold;
  margin: 0rem;
}

.service-text {
  padding: 1rem;
  line-height:1.8rem;
  font-size: 1.1rem;
}
#services ul {
  list-style-type: circle;
}

#services .cta-button {
  line-height: initial;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .hero-text {
    padding: 5rem 0rem;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .hero-text {
    align-self: center;
  }
  .sub-headline {
    font-size: 1em;
  }
  .headline {
    font-size: 1.5rem;
  }
}
