.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex:1;
  -webkit-flex: 1;
  -ms-flex: 1;
}
nav.flex-container {
  min-height: 100px;
  max-height: 200px;
  justify-content: center;
  border-bottom: solid 2px #d32b29;
  width: 100%;
}
.logo-text {
  font-weight: bold;
  color: #b3302e;
  font-size: 2em;
}
.logo, .logo a {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo img {
  width: 60%;
}
.hero-container {
  position: relative;
  margin: 2rem auto 2rem;
  height: auto;
}

.carousel {
  height: 250px
}

.carousel-cell {
  height: 100%;;
}

.carousel-cell-image {
  width: 100%;
}

.hero-text {
  position: absolute;
  z-index: 10;
  text-align: center;
  font-size: 1.1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(253, 253, 252, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.headline {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: -0.5em;
  font-size: 1.5rem;
}
.sub-headline {
  font-size: .9em;
}
.cta-button {
  background-color: #d32b29;
  color: #fdfdfc !important;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  border: .8rem solid #d32b29;
  border-radius: 1.2rem;
  padding: 0 1.5rem;
  text-decoration: none;
  font-size: .7rem;
}
.heading{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: #b3302e;
  width: 100%;
}
#services {
  position: relative;
}
.service-text, .about-text {
  padding: 1rem;
  line-height:2rem;
  font-size: 1.1rem;
  text-align: justify;
}
#services ul {
  list-style-type: circle;
}
#services.flex-container {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 4rem;
}
#services img {
  width: 100%;
  padding: 2rem 0;
}
#services .cta-button {
  width: 150px;
  margin: 0 auto;
}
#hero, #services, #reviews, #about-us, #contact {
  max-width: 1500px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 6rem;
}

#about-us img {
  width: 85%;
  height: 85%;
  max-width: 410px;
  max-height: 410px;
  padding: 2rem;
  border-radius: 25rem;
  display: inline-block;
  margin:0 auto;
}

.review-carousel {
  height: 350px;
  padding: 1rem 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
  border-radius: 1rem;
}
.rcd {
  padding: .5rem 0;
  width: 80%;
  margin: 0 auto;
  overflow: visible;
}
.review-text {
  line-height: 1.8rem;
  text-align: justify;
}
.review-name {
  font-weight: bold;
  text-align: center;
}

footer {
  background-color: rgba(211, 43, 41, 0.71);
  color: rgba(252, 247, 247, 0.71);
  width: 100%;
  text-align: center;
  padding: 2rem;
}
footer a {
  color: rgba(252, 247, 247, 0.94) !important;
}
.service-accordion {
  background-color: #d55252;
  color: #fdfdfc;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active, .service-accordion:hover {
  background-color: #ee5352;
}
.panel {
  padding: 0 18px;
  background-color: #fdfdfc;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.service-accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #fdfdfc;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}
#contact{
  padding: 4rem 2rem;
}
input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(179, 48, 46, 0.47);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #222222;
}
input[type=submit] {
  width: 100%;
  background-color: #b3302e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
input[type=submit]:hover {
  background-color: #ee5352;
}
label {
  color: rgba(34, 34, 34, 0.89)
}
.disclaimer, .details-info {
  text-align: center;
  color: rgba(34, 34, 34, 0.7);
  font-size: .8rem;
}
.details-info{
  text-align: left;
}
.contact-info{
  margin-top: 4rem;
}
.spam-field {
  display: none;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .carousel {
    height: 350px;
  }
  .hero-container {
    margin: 4rem auto;
  }
  .review-carousel {
    height: 250px;
  }
  #about-us img {
    width: 65%;
  }
  #contact{
    padding: 4rem 6rem;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .carousel {
    height: 500px;
    margin: 0 auto;
  }
  .hero-container {
    margin: 4rem auto;
  }
  .sub-headline {
    font-size: 1rem;
  }
  .headline {
    font-size: 1.9rem;
  }
  .cta-button {
    font-size: .9rem;
  }
  #services img {
    max-height: 500px;
    padding: 2rem 0;
    display: block;
    margin: 0 auto;
  }
  #services .cta-button {
    width: 200px;
  }
  #contact{
    padding: 4rem 10rem;
  }
}
